# Repository Code Owners
# https://docs.github.com/en/repositories/managing-repository-files-handling-errors-and-automating-releases/about-code-owners

# Global Code Owners for all files in the repository
* @purvanshjoshi @archittmittal
